<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    
    <title>El Mundo a Tus Pies</title>
    <link rel="shortcut icon" href="..img/perfume.png">
</head>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<header>
  <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Perfumeria El Mundo a Tus Pies</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="..Templates/promociones.html">Promociones</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Tienda
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="..Templates/Perfumes.html">Fragancias Masculinas</a></li>
                  <li><a class="dropdown-item" href="..Templates/FraganciasF.html">Fragancias Femeninas</a></li>
                  <li><a class="dropdown-item" href="..Templates/Accesorios.html">Accesorios</a></li>
                </ul>
              </li>
              
            </ul>
          </div>
        </div>
</header>
    
 
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="..img/Hermes.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..img/carolina herrera.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..img/flowepromo.webp" class="d-block w-100" alt="...">
    </div>
  </div>
</div>

 <!-- START THE FEATURETTES -->
 <div class="container marketing">

  <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">REGALAR NUNCA FUE TAN FACIL</h2>
        <p class="lead">El Mundo a tus Pies, presenta sus nuevas GiftCards para que puedas soprender a tus seres queridos y deja que ellos mismos elijan sus propios obsequios</p>
      </div>
      <div class="col-md-5">
        <img src="..img/Gift Card.jpg" alt="Imagen del Featurette" class="img-fluid mx-auto" width="500" height="500">

      </div>
    </div>

  <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">GIORGIO ARMANI </h2>
        <p class="lead">Nuevas promociones con GIORGIO ARMANI, 6 cuotas sin interes + 15% de descuento en tu compra.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="..img/giorgio armani promo.gif" alt="Imagen del Featurette" class="img-fluid mx-auto" width="500" height="500">

      </div>
    </div>

  <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">EVENTOS </h2>
        <p class="lead">Enterate de todos nuestros eventos, participá y descubrí beneficios exclusivos.</p>
      </div>
      <div class="col-md-5">
        <img src="..img/evento perfumes.avif" alt="Imagen del Featurette" class="img-fluid mx-auto" width="500" height="500">
      </div>
    </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

</div><!-- /.container -->
    

</body>
</html>